.label {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
}

.loading>.label {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 0;
}

.loading-animation>span {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 0;
}

.loading>.loading-animation>span {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    content: '';
    height: 20px;
    width: 20px;
    border: #53e3a6 3px solid;
    border-radius: 50%;
    -webkit-animation: loading 1.5s infinite;
    -webkit-animation-delay: 250ms;
    -webkit-transform: scale(0.6);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition-delay: 500ms;
    transition-delay: 500 ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    opacity: 1;
}

.loading>.loading-animation>span:first-child {
    /*margin: -10px 0 0 -35px;*/
    
    margin-left: -25px;
    -webkit-animation-delay: 0;
}

.loading>.loading-animation>span:last-child {
    /*margin: -10px 0 0 15px;*/
    
    margin-left: 5px;
    -webkit-animation-delay: 500ms;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0.6);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(0.6);
    }
}
