<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Hang in System</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="./css/default.css" />
    <link rel="stylesheet" type="text/css" href="./css/dlmenu.css" />
    <link rel="stylesheet" type="text/css" href="./css/component.css" />
    <link rel="stylesheet" type="text/css" href="./css/animations.css" />
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
    <link rel="stylesheet" type="text/css" href="./css/loading.css" />
    <link rel="stylesheet" type="text/css" href="./css/costum-upload.css" />
    <script src="./js/api/homework.js"></script>
    <script src="./js/api/user.js"></script>
    <script src="./js/api/api.js"></script>
    <script src="./js/modernizr.custom.js"></script>
</head>

<body>
    <div id="pt-main" class="pt-perspective">
        <div id="login-page" class="pt-page pt-page-1">
            <div class="container">
                <h1>Welcome</h1>
                <div id="login-form" class="form">
                    <input id="account" type="text" placeholder="Username">
                    <input id="password" type="password" placeholder="Password">
                    <button id="login-btn">
                        <div class="loading-animation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span class="label">Login</span>
                    </button>
                </div>
                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div id="ta-main-page" class="pt-page pt-page-2">
            <div class="container">
                <h1>Welcome back, ZhongTing</h1>
                <div>
                    <input type="button" data-nextpage="assign-new-hw-page" value="Assign New Homework">
                    <div class="dl-menuwrapper homework-menu">
                        <input type="button" class="dl-trigger" value="Correct Homework" />
                        <ul class="dl-menu"></ul>
                    </div>
                    <input type="button" class="back" value="back">
                </div>
            </div>
        </div>
        <div id="student-main-page" class="pt-page pt-page-3">
            <div class="container">
                <h1>Welcome back, ZhongTing</h1>
                <div>
                    <div class="dl-menuwrapper homework-menu">
                        <input type="button" class="dl-trigger" value="Upload Homework" />
                        <ul class="dl-menu"></ul>
                    </div>
                    <input type="button" data-nextpage="view-grade-page" value="View Grade">
                    <input type="button" class="back" value="back">
                </div>
            </div>
        </div>
        <div id="assign-new-hw-page" class="pt-page pt-page-4">
            <div class="container">
                <h1>Assign New Homework</h1>
                <div id="assign-hw-form" class="form">
                    <input id="assign-hw-year" type="text" placeholder="Year">
                    <input id="assign-hw-name" type="text" placeholder="Name">
                    <input id="assign-hw-score" type="text" placeholder="Total Score">
                    <button id="assign-btn">
                        <div class="loading-animation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span class="label">Assign</span>
                    </button>
                    <input type="button" class="back" value="back">
                </div>
            </div>
        </div>
        <div id="correct-homework-page" class="pt-page pt-page-5">
            <div class="container">
                <h1>Correct Homework</h1>
                <h2 id="correct-hw-name"></h2>
                <br />
                <input id="download-hw" type="button" value="Download HW">
                <input type="button" class="back" value="back">
            </div>
        </div>
        <div id="upload-homework-page" class="pt-page pt-page-6">
            <div class="container">
                <h1>Upload Homework</h1>
                <h2 id="upload-hw-name"></h2>
                <br />
                <div class="custom-file-upload">
                    <input id="homework-file-input" type="file">
                </div>
                <input id="upload-hw" type="button" value="Upload HW">
                <input type="button" class="back" value="back">
            </div>
        </div>
        <div id="view-grade-page" class="pt-page pt-page-4">
            <div class="container">
                <h1>View Grades</h1>
                <h2>Comming Soon...</h2>
                <br />
                <input type="button" class="back" value="back">
            </div>
        </div>
    </div>
    <div class="pt-message">
        <p>Your browser does not support CSS animations.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="./js/pagetransitions.js"></script>
    <script src="./js/jquery.dlmenu.js"></script>
    <script src="./js/jquery.fileDownload.js"></script>
    <script src="./js/api/homework.js"></script>
    <script src="./js/api/user.js"></script>
    <script src="./js/api/api.js"></script>
    <script src="./js/user.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/costum-upload.js"></script>
</body>

</html>
